<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6  text-center">
				<h5><u>Socials</u></h5>
				<p class="">
					<a href="twitter.com/davecodes01">
						<span class="fa fa-twitter fa-lg fa-2x"></span>
					</a> &nbsp
					<a href="github.com/chuks-o">
						<span class="fa fa-github fa-lg fa-2x"></span>
					</a>&nbsp
					<a href="#">
						<span class="fa fa-facebook fa-lg fa-2x"></span>
					</a>
				</p>
			</div>
			<div class="col-md-12 col-sm-6 text-center ">
				<p>
					<span>Copyright 2017. Developed by davecode...</span>
				</p>
			</div>

		</div>
	</div>
</div>
