<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6  text-center">
				<h4><u>Socials</u></h4>
				<p class="">
					<a href="https://twitter.com/davecodes01" target="_blank">
						<span class="fa fa-twitter fa-lg fa-2x"></span>
					</a> &nbsp;
					<a href="https://github.com/chuks-o" target="_blank">
						<span class="fa fa-github fa-lg fa-2x"></span>
					</a>&nbsp;
					<a href="#">
						<span class="fa fa-facebook fa-lg fa-2x"></span>
					</a>
				</p>
			</div>
			<div class="col-md-12 col-sm-6 text-center ">
				<p>
					<span>Copyright &copy; 2017.<br> Developed by @Davecode.</span>
				</p>
			</div>

		</div>
	</div>
</div>
