<nav class="navbar mynav navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
				<p class="navbar-brand">
					<a href="/">
						<img src="/images/andela-logo.png" alt="" height="30px" width="30px">
							Andela School
					</a>
				</p>

				<!-- <a href="/" class="navbar-brand">
					<span class="fa fa-android">
					</span>
					Andela School
				</a> -->

		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<!-- <p> -->
					<li >
						<a href="/create"><i class="fa fa-pencil-square-o"></i>
							  Create Resource
							<span class="sr-only "></span>
						</a>
					</li>
					<li>
						<a href="/list"><i class="fa fa-book"></i>
						   	List Resource
							<span class="sr-only"></span>
						</a>
					</li>
				<!-- </p> -->
			</ul>
		</div><!-- /.navbar-collapse -->

	</div>
	</nav>
