<div class="topnav">
	<div class="container-fluid">
		<span>
			<p class="text-center">
				Honesty and Hardwork is our watch word...

				 <!-- <span class="fa fa-phone pull-right"> Contact us on: +234 918 976 54</span> -->
			</p>
		</span>
	</div>
</div>
