<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= title %></title>

		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
	</head>
	<body>
		<% include layouts/topnav.ejs %>
		<% include layouts/nav.ejs %>

		<div class="container">
			<br>
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<h3 class="text-center"><br>
					<strong> <span class="fa fa-pencil-square-o"></span> Create Resource</strong>
				</h3><br>
				<div class="panel panel-default">
					<div class="panel-heading">
						Create Student Resource
					</div>
					<div class="panel-body">
						<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
							<form role="form" action="/create" enctype="multipart/form-data" method="post">
								<div class="form-group">
									<label for="Name">Resource image</label>
									<input type="file" class="" name="myimage">
								</div><br>

								<div class="form-group">
									<label for="Name">Student Name</label>
									<input type="text" class="form-control input-lg" placeholder="John Doe" name="studentname" value="">
								</div>

								<div class="form-group">
									<label for="Name">School</label>
									<input type="text" class="form-control input-lg" placeholder="Andela Schools" name="school" value="">
								</div>

								<div class="form-group">
									<label for="Name">Email</label>
									<input type="text" class="form-control input-lg" placeholder="johndoe@hotmail.com" name="email" value="">
								</div>

								<div class="form-group">
									<label for="Name">Age</label>
									<input type="text" class="form-control input-lg" placeholder="21" name="age" value="">
								</div><br>

								<button type="submit" class="btn btn-primary btn-block btn-lg" >Submit</button>

							</form>	<br>
						</div>
					</div>
				</div><br><br>
			</div>

		</div>
		<% include layouts/footer.ejs %>

	  <script type="text/javascript" src="/stylesheets/bootstrap/jquery-2.2.3.min.js"></script>
	  <script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
